 {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 25px;
    font-weight: 300;
    padding-top: 4rem;
    background: #F8F8FC !important;    height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.title {
  vertical-align: middle;
  text-align: center;
  font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
  font-size: 20px;
}

.card-img-top{
  width:100%;
  height:auto;
}